body {
    background-color: rgb(235, 235, 235);
    background-size: cover;
    opacity: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    color: black;
    display: block;
    position: relative;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: auto;
    margin-bottom: auto;
    margin-right: auto;
}

img {
    width: 250px;
    margin-bottom: 30px;
}

table {
    background-color: white;
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 20px;
}

td {
    padding: 10px;
    width: 100px;
}

div{
    
    /*overflow: auto;*/
}
#scrollable {
    resize: both;
    overflow: auto;
}

#sidebar {
    float: right;
    position: relative;
    margin-left: -100%;
    margin-top: -10%;
    padding: 5px;
    width: 12%;
}

#itemlist {
    margin-right: -100%;
    float: left;
    Overflow-y: scroll;
    height: 750px;
}

.header {
    border-bottom: 5px solid black;
}

#contents {
    display: block;
    float: right;
    position: static;
    margin-right: 10%;
    padding: 5px;
    width: 12%;
}
#cellContents {
    padding: 20px;
}